* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h3 {
  font-size: 3rem;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.section-center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  gap: 40px;
}

.grocery-form {
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  /* background-color: white; */
  /* border: 2px solid rgb(163, 163, 163); */
  border-radius: 20px;
}
.form-control {
  display: flex;
  justify-content: space-between;
  /* border: solid pink 1px; */
  width: 80%;
  height: 20px;
}

#grocery {
  border-radius: 50px;
  width: 65%;
  height: 35px;
  padding: 1rem;
}

.submit-btn {
  border-radius: 50px;
  width: 30%;
  height: 35px;
  font-size: 1.5rem;
}

.submit-btn:hover {
  background-color: #acacac;
}

.clear-btn {
  border-radius: 50px;
  width: 30%;
  height: 35px;
  font-size: 1.5rem;
}

.clear-btn:hover {
  background-color: #acacac;
}

.grocery-container {
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  visibility: hidden;
}

.show-container {
  visibility: visible;
}

.grocery-item {
  min-width: 25vw;
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(60, 119, 208);
  gap: 10px;
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 5px;
}

.alert {
  height: 1.25 rem;
  width: 1 rem;
}

.alert-danger {
  color: red;
  background-color: #efbebe;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 50px;
}

.alert-success {
  color: green;
  background-color: #c4efbe;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 50px;
}

.title {
  font-size: 2rem;
  color: aliceblue;
}

.edit-btn {
  background-color: rgb(60, 119, 208);
  border: none;
  font-size: 1.5rem;
  color: aliceblue;
}

.delete-btn {
  margin-left: 5px;
  background-color: rgb(60, 119, 208);
  border: none;
  font-size: 1.5rem;
  color: aliceblue;
}

.delete-btn:hover {
  color: rgb(53, 4, 251);
}

.edit-btn:hover {
  color: rgb(53, 4, 251);
}
